<settings>
  <profiles>
    <profile>
      <id>zc-jstk</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <gpg.homedir>/home/r</gpg.homedir>
        <gpg.keyname>F8BB5686</gpg.keyname>
        <gpg.passphrase>amstel76</gpg.passphrase>
      </properties>
    </profile>
    <profile>
      <id>zc-farm</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <!-- <syslogHost>logs3.papertrailapp.com:26418</syslogHost> -->
        <xor.key>&amp;8*5%4#4';&gt;fjPo!2@</xor.key>
        <github.0crat.password>G53HjbML</github.0crat.password>
        <github.app.client_id>f16684efe7f90aae432b</github.app.client_id>
        <github.app.client_secret>08cd7bb00646815332710585adaf3e642c81c766</github.app.client_secret>
        <slack.client_id>116853003427.116859136003</slack.client_id>
        <slack.client_secret>b460e6f4814809d1816449ad3b9dd451</slack.client_secret>
        <s3.key>AKIAIVWDGPW27GZ76BEQ</s3.key>
        <s3.secret>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</s3.secret>
        <s3.bucket>data.0crat.com</s3.bucket>
        <dynamo.key>AKIAIVWDGPW27GZ76BEQ</dynamo.key>
        <dynamo.secret>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</dynamo.secret>
        <twitter.key>B7ExVGLXrtgN9yhlPfUAqbTOL</twitter.key>
        <twitter.secret>6jP3bCdrC3zXWTl4qatEI2VvoX2P3qTtleJTWSP8U2fN4HTPga</twitter.secret>
        <twitter.token>806113430939860994-6LRc7h7LkCGWjgAIF6Fv1NLmUbLhEMD</twitter.token>
        <twitter.tsecret>cEzHBZeVsIlw2ExiolVGiyjthkStDfZAIqbQqCf2x0Amm</twitter.tsecret>
        <sentry.dsn>https://a39107424934450eb9ec968d591ca450:d195986d1fa44e7fba4e138592602168@sentry.io/193755</sentry.dsn>
        <telegram.username>zerocrat_bot</telegram.username>
        <telegram.token>311445400:AAHtsZjbOZnYVuUCARuxsL6qQSEvsKNxqB8</telegram.token>
      </properties>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>oss.sonatype.org</id>
      <username>yegor256</username>
      <password>UDQ4KWg5</password>
    </server>
  </servers>
</settings>
