<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>${title}</title>
        <meta name="description" content="Project managers that never sleep, fail, or miss anything"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="http://www.zerocracy.com/logo.png"/>
        <link rel="stylesheet" href="http://yegor256.github.io/tacit/tacit.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"/>
        <style>
            * {
                font-family: 'Nunito', sans-serif;
            }
            .logo {
                width: 96px;
                height: 96px;
            }
            header p,
            footer p {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <section>
            <header>
                <p>
                    <a href="/">
                        <img src="http://www.zerocracy.com/logo.svg" class="logo" />
                    </a>
                </p>
            </header>
            <article>
                ${html}
            </article>
            <footer>
                <p>
                    &copy; 2016 <a href="http://www.zerocracy.com">Zerocracy</a>
                </p>
            </footer>
        </section>
    </body>
</html>
